@import 'styles/variables';

.show-more-btn {
  display: flex;
  align-items: center;

  path {
    fill: $color-black;
  }

  &:hover path {
    fill: $color-main-blue !important;
  }

  &:hover span {
    color: $color-main-blue;
    border-color: $color-main-blue;
  }

  &__title {
    font-size: 21px;
    font-family: $font-plumb;
    font-weight: 500;
    color: $color-black;
    height: 26px;
    color: $color-black;
    border-bottom: 1px solid $color-black;
    margin-right: 10px;

    @media screen and (max-width: $screen-lg) {
      font-size: 18px;
    }
  }
}
