@import 'styles/variables';

%bar-shared {
  width: 35px;
  height: 5px;
  background-color: $color-white;
  margin: 6px 0;
  transition: 0.4s;
}

.line-menu-btn {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 1130px) {
    display: inline-block;
  }

  &--active &__bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  &--active &__bar2 {
    opacity: 0;
  }

  &--active &__bar3 {
    transform: rotate(45deg) translate(-10px, -8px);
  }

  div {
    @extend %bar-shared;
  }
}
