@import 'styles/variables';

.card {
  width: 350px;

  @media screen and (max-width: $screen-xl) {
    width: 250px;
  }

  @media screen and (max-width: $screen-sm) {
    text-align: center;
  }

  &__banner {
    display: block;
    width: 100%;
  }

  &__duration {
    font-size: 14px;
    padding-top: 20px;
    line-height: 19px;
  }

  &__title {
    font: $font-plumb;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    padding-top: 10px;
  }

  &__specification {
    padding-top: 10px;
    line-height: 21px;
  }
}
