@import 'styles/variables';

.res-section {
  background: $color-main-blue;
  color: $color-white;
  padding: 75px 0;

  @media screen and (max-width: $screen-lg) {
    padding: 30px 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    gap: 15px 30px;

    @media screen and (max-width: $screen-lg) {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-around;
    }

    @media screen and (max-width: $screen-md) {
      justify-content: center;
    }

    @media screen and (max-width: $screen-sm) {
      grid-template-columns: 270px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $screen-sm) {
      align-items: center;
    }
  }

  &__title {
    padding-bottom: 30px;

    @media screen and (max-width: $screen-lg) {
      padding-bottom: 15px;
    }
  }

  &__link {
    color: $color-white;
    height: 21px;
    width: max-content;
    margin-bottom: 15px;

    &:hover {
      color: $color-main-yellow;
      border-bottom: 1px solid $color-main-yellow;
    }
  }
}
