@import 'styles/variables';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  outline: none !important;
}

/* Remove margin */
h1,
h2,
h3,
p,
body {
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
  font-family: $font-circe;
  color: $color-black;
}

/* Remove list styles and default padding on ul element
 with a class attribute */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set basic styles for links */
a {
  text-decoration: none;
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
select {
  font: inherit;
}

/* Make main container */
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: $container-xxx;

  @media screen and (max-width: $screen-xxl) {
    width: $container-xxl;
  }

  @media screen and (max-width: $screen-xl) {
    width: $container-xl;
  }

  @media screen and (max-width: $screen-lg) {
    width: $container-lg;
  }

  @media screen and (max-width: $screen-md) {
    width: $container-md;
  }

  @media screen and (max-width: $screen-sm) {
    width: $container-sm;
  }

  @media screen and (max-width: $screen-xs) {
    width: $container-xs;
  }
}

/* Set body disabled when open menu popup */
.menu-popup-open {
  @media screen and (max-width: $screen-lg) {
    overflow: hidden;
  }
}
