@import 'styles/variables';

.navbar {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1130px) {
    padding-top: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1130px) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 13px;

    @media screen and (max-width: 1130px) {
      padding: 10px 0;
    }
  }

  &__link {
    color: $color-white;

    &:hover {
      border-bottom: 1px solid $color-white;
    }
  }
}
