@import 'styles/variables';

%link-shared {
  color: $color-white;

  &:hover {
    color: $color-main-ice-cream;
  }

  &:hover path {
    fill: $color-main-ice-cream !important;
  }

  svg {
    margin-left: 10px;
  }
}

.top-section {
  background-image: url('~assets/img/bgc.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
  color: $color-white;

  &__inner {
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
  }

  &__about-forum {
    width: 420px;
  }

  &__title {
    font-family: $font-plumb;
    font-size: 64px;
  }

  &__info-text {
    font-size: 24px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 25px;
  }

  &__more-link {
    @extend %link-shared;
  }

  &__info {
    display: grid;
    grid-template-rows: 148px 175px;
    grid-template-columns: 255px 255px;
    grid-gap: 30px;
    padding-top: 90px;
  }

  &__card {
    padding: 30px 40px;

    &:first-child {
      background-color: $color-main-blue;
    }

    &:nth-child(2) {
      background-color: $color-main-green;
    }

    &:nth-child(3) {
      background-color: $color-main-yellow;
    }

    &:last-child {
      background-color: $color-main-red;
    }
  }

  &__card-title {
    font-family: $font-plumb;
    font-weight: 500;
    font-size: 21px;
    padding-bottom: 15px;
  }

  &__card-more-link {
    @extend %link-shared;
  }
}
