@import 'styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  border-bottom: 1px solid $color-white;
  display: flex;
  align-items: center;
  z-index: 10;

  &--active {
    transition: 0.3s;
    height: 60px;
    border-bottom: none;
    background-color: $color-egg-blue;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $container-xxx;
    margin: 0 auto;
    padding: 0 15px;
  }
}
