@import 'styles/variables';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  border-bottom: 1px solid $color-white;
  display: flex;
  align-items: center;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $container-xxl;
    margin: 0 auto;
    padding: 0 15px;
  }
}
