@import 'styles/variables';

.menu {
  width: 280px;

  &__cover {
    @media screen and (max-width: 1130px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background: $color-black;
      opacity: 0.3;
    }
  }

  &__menu-popup {
    position: fixed;
    width: 280px;
    height: 430px;
    top: 0;
    left: -520px;
    background: $color-main-green;
    z-index: 200;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    border-bottom-right-radius: 3px;

    &--active {
      left: 0;
      transition: 0.5s;
    }
  }
}
