@import 'styles/variables';

.lang {
  display: flex;
  height: 30px;
  align-items: center;
  margin-left: 20px;

  @media screen and (max-width: 1130px) {
    margin-left: 0;
    padding-top: 10px;
  }

  &__en {
    height: 22px;
    margin-left: 7px;
    color: $color-white;

    &:hover {
      border-bottom: 1px solid $color-white;
    }
  }
}
