@import 'styles/variables';

%title-shared {
  font: $font-plumb;
  font-weight: 500;
  color: $color-white;
  font-size: 21px;
  line-height: 27px;
  padding-bottom: 20px;

  @media screen and (max-width: $screen-sm) {
    padding-bottom: 10px;
  }
}

%link-shared {
  font-size: 14px;
  height: 19px;
  width: max-content;
  color: $color-alto;
  margin-top: 10px;

  &:hover {
    color: $color-main-yellow;
    border-bottom: 1px solid $color-main-yellow;
  }
}

.footer {
  padding: 60px 0 30px;
  background: $color-main-green;

  @media screen and (max-width: $screen-md) {
    padding: 30px 0 20px;
  }

  &__inner {
    display: flex;

    @media screen and (max-width: $screen-lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $screen-lg) {
      width: 100%;
    }
  }

  &__menu-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 40px;

    @media screen and (max-width: $screen-lg) {
      align-items: center;
    }

    @media screen and (max-width: $screen-sm) {
      width: 100%;
      padding-bottom: 30px;
    }
  }

  &__menu-titel {
    @extend %title-shared;
  }

  &__menu-link {
    @extend %link-shared;
  }

  &__social-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $screen-lg) {
      width: 100%;
    }

    @media screen and (max-width: $screen-sm) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__social-group {
    width: 50%;

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
  }

  &__press {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $screen-lg) {
      align-items: center;
    }
  }

  &__press-title {
    @extend %title-shared;
  }

  &__press-link {
    @extend %link-shared;
  }

  &__apps {
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $screen-lg) {
      align-items: center;
    }

    @media screen and (max-width: $screen-sm) {
      padding-top: 30px;
    }
  }

  &__apps-title {
    @extend %title-shared;
  }

  &__apps-link {
    display: block;
    margin-bottom: 15px;
  }

  &__bg-apple {
    width: 160px;
    height: 53px;
    background-image: url('~assets/img/bg-apple.webp');
    background-repeat: no-repeat;
  }

  &__bg-google {
    width: 160px;
    height: 53px;
    background-image: url('~assets/img/bg-google.webp');
    background-repeat: no-repeat;
  }

  &__social {
    @media screen and (max-width: $screen-lg) {
      text-align: center;
    }
  }

  &__social-title {
    @extend %title-shared;
    padding-bottom: 30px;

    @media screen and (max-width: $screen-sm) {
      padding-top: 30px;
    }
  }

  &__social-link {
    margin-right: 30px;
    display: inline-block;
    height: 25px;

    @media screen and (max-width: $screen-xl) {
      margin-right: 20px;
    }

    @media screen and (max-width: $screen-lg) {
      margin: 0 15px;
    }

    &:hover svg > path {
      fill: $color-main-yellow !important;
    }
  }

  &__news {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $screen-lg) {
      align-items: center;
    }
  }

  &__news-title {
    @extend %title-shared;
    padding-top: 50px;
    padding-bottom: 15px;

    @media screen and (max-width: $screen-sm) {
      padding-top: 30px;
    }
  }

  &__news-info {
    max-width: 255px;
    font-size: 14px;
    line-height: 19px;
    color: $color-alto;
    padding-bottom: 25px;

    @media screen and (max-width: $screen-lg) {
      text-align: center;
    }
  }
}
