@font-face {
  font-family: 'Circe';
  src: local('Circe'), url(~assets/fonts/circe.ttf) format('truetype');
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb'), url(~assets/fonts/plumb.ttf) format('truetype');
}
