@import 'styles/typografy.scss';

/* Colors */
$color-main-blue: #2378fc;
$color-main-green: #30bcc9;
$color-main-ice-cream: #faf3e3;
$color-main-yellow: #ffc41e;
$color-main-red: #f6404f;
$color-black: #000;
$color-white: #fff;

/* Fonts */
$font-circe: 'Circe', sans-serif;
$font-plumb: 'Plumb', sans-serif;

/* Containers */
$container-xs: 290px;
$container-sm: 450px;
$container-md: 738px;
$container-lg: 962px;
$container-xl: 1142px;

/* Screens */
$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
